/* Main elements */

html, body {
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
	background-color: #373737;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #373737;
	font-family: "Lucida Grande", "Tahoma", "Arial", sans-serif;
	font-size: 12px;
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

h2 {
	color: #a19fa0;
	font-size: 18px;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	margin: 80px 0 75px 0;
}

/* Icons */

.mp-track {
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	position: relative;
	top: 4px;
	margin-right: 6px;
	background: transparent url(../images/searchresults_icons.png) no-repeat left -49px;
}

.mp-location {
	float: left;
	display: block;
	width: 14px;
	height: 18px;
	position: relative;
	top: 0;
	margin-right: 6px;
	background: transparent url(../images/searchresults_icons.png) no-repeat left -76px;
}

.mp-plus {
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 5px;
	top: 6px;
	background: transparent url(../images/plus_icons.png) no-repeat left -10px;
}

.mp-plus.active {
	background-position: left top;
}

.mp-disc {
	float: left;
	display: block;
	width: 13px;
	height: 13px;
	position: relative;
	left: 0;
	top: 3px;
	background: transparent url(../images/disc_icon.png) no-repeat left top;
	margin-right: 5px;
}

.mp-drop {
	width: 25px;
	height: 25px;
	margin: 20px auto 10px auto;
	display: block;
	background: transparent url(../images/drop_icon.png) no-repeat left top;
}

.mp-arrow {
	width: 14px;
	height: 14px;
	display: block;
	background-image: url(../images/arrow_icons.png);
	position: relative!important;
	left: 0;
	top: 3px!important;
}

.mp-arrow.mp-arrow-right {
	background-position: 0 -14px;
	float: right;
}

.mp-arrow.mp-arrow-left {
	float: left;
	background-position: 0 0;
}

.mp-button:disabled .mp-arrow.mp-arrow-right {
	background-position: 0 -42px;
}

.mp-button:disabled .mp-arrow.mp-arrow-left {
	background-position: 0 -28px;
}

.mp-flat .mp-arrow.mp-arrow-right {
	background-position: 0 -70px;
}

.mp-flat .mp-arrow.mp-arrow-left {
	background-position: 0 -56px;
}

.mp-marker {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background: transparent url(../images/location_button.png) no-repeat left top;
	margin-right: 20px;
}

.mp-marker:active {
	background-position: left -32px;
	cursor: url(../images/closedhand.cur), default !important;
}

.mp-marker:hover {
	cursor: url(../images/openhand.cur), default !important;
}

/* Buttons */

.sp-button.mp-flat {
	border-width: 0;
	border-radius: 4px;
	background: #313131;
	color: #747474;
	text-shadow: none;
	padding: 2px 10px 3px 10px;
}

.sp-button.mp-dark {
	-webkit-border-image: url(../images/dark_button.png) 0 5 49 5;
	border-width: 0 5px;
	color: #9a9a9a;
	text-shadow: 0 1px 0 #000000;
	height: 25px;
}

.sp-button.mp-dark:active {
	-webkit-border-image: url(../images/dark_button.png) 25 5 24 5;
}




/* Header */

#header {
	background: transparent url(../images/header_background.png) no-repeat center 32px;
	position: fixed;
	width: 100%;
	height: 70px;
	display: block ;
	top:0;
	overflow: hidden;
	z-index: 1000;
}

nav {
	width: 100%;
	height: 28px;
	padding-top: 4px;
	background: -webkit-linear-gradient(top, #404040 0%, #232323 100%);
	border-bottom: 1px solid #101010;
	position: absolute;
	top: 0;
}

h1 {
	width: 154px;
	height: 60px;
	background: transparent url(../images/mojopin_logotype.png) no-repeat center top;
	text-indent: -10000px;
	margin: 0 auto;
	padding:0 15px;
	position: relative;
	top: 3px;
	z-index: 100;
	clear: none;
}

nav ul {
	position: relative;
	top: 0;
	z-index: 10;
	font-size: 11px;
	display: inline-table;
	width: 50%;
	margin: 0;
	padding: 0;
}

nav ul.left {
	float: left;
	text-align: right;
	padding-right: 102px;
}

nav ul.right {
	float: right;
	text-align: left;
	padding-left: 102px;
}

nav ul li {
	display: inline-block;
	color: #aaaaaa;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
	padding: 0 8px;
	margin: 0 7px;
	height: 24px;
	line-height: 22px;
	position: relative;
	
}

nav ul li.active {
	-webkit-border-image: url(../images/dark_button.png) 50 5 0 5;
	border-width: 0 3px;
	padding: 0 5px;
	color: #dcdcdc;
}

/* Global */

#global {
	width: 100%;
	position: relative;
	top: 52px;
}

/* Profile View */

#top {
	width: 100%;
	height: 156px;
	background-color: #373737;
	border-bottom:  1px solid #282828;
	overflow: hidden;
	z-index: 2;
}

#top .picture {
	width: 128px;
	height: 128px;
	float: left;
	margin: 14px;
	border-radius: 5px;
	background: transparent url(../images/profile_picture.gif) no-repeat left top;
}

#top .information {
	float: left;
	margin: 14px 0;
	padding: 10px 0;
	font-size: 15px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

#top .name {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 8px;
}

#top .statistics {
}

#sidebar {
	background-color: #474747;
	width: 182px;
	border-left: 1px solid #292929;
	float: right;
	height: auto;
}

#sidebar ul li {
	border-top: 1px solid #505050;
	border-bottom: 1px solid #383838;
	padding: 5px 10px;
	color: #dddddd;
	font-size: 11px;
	line-height: 14px;
}

#sidebar ul li:hover {
	border-top: 1px solid #9bd5f7;
	border-bottom: 1px solid #95b7c8;
	background: -webkit-linear-gradient(top, #afdff8 0%, #97d3f7 100%);
	color: #2a3843;
	font-weight: bold;
	box-shadow: 0 1px 0 #bbe4f9 inset;
}

#sidebar li .music {
	padding-left: 20px;
	position: relative;
	font-size: 11px;
}

#sidebar li span {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 3px;
	left: 0;
	background-color: transparent;
	background-image: url(../images/activity_icons.png);
	background-attachment: no-repeat;
}

#sidebar li span.track {
	background-position: 0 0;
}

#sidebar li span.playlist {
	background-position: -12px 0;
}

#sidebar li .location {
	color: #727272;
	display: inline-block;
	padding-left: 20px;
}

/* Map */

#map {
	width: 100%;
	height: 100%;
}

#map div:first-child div:first-child div:first-child div:first-child {
	position: relative!important;
}

#map div:first-child div:first-child div:first-child div:first-child div:first-child {
	position: relative!important;
}

.window.notice {
	position: relative;
	padding: 16.5px 20.5px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.window.notice canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.window.notice .music {
	position: relative;
	display: block;
	color: #999997;
	font-size: 15px;
	margin-bottom: 10px;
}

.window.notice .music span {
	color: #ffffff;
}

.window.notice .location {
	position: relative;
	display: block;
	color: #999997;
	font-size: 11px;
}

/* Friends */

#filter {
	width: 100%;
	position: fixed;
	top: 52px;
	right: 14px;
	background-color: rgba(55,55,55,0.9);
	height: 32px;
	z-index: 100;
}

#filter input {
	float: right;
	width: 137px;
	height: 16px;
	border: 1px solid #111111;
	background-color: #;
	border-radius: 32px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.1) inset;
	color: #919191;
	font-size: 11px;
	padding: 0 10px 0 22px;
	background: #474747 url(../images/search_icon-small.png) no-repeat 6px 3px;
	margin: 6px 9px;
}

.friendslist {
	height: 624px;
	overflow-y: scroll;
}

.friendslist li {
	float: left;
	margin: 36px 20px 0 20px;
}

.picture {
	position: relative;
	text-align: center;
	cursor: default;
}

.picture:hover {
	cursor: pointer;
}

.picture button{
	position: absolute;
	bottom: 7px;
	left: 11px;
	cursor: default;
}

.picture button:hover{
	cursor: default;
}

.friendslist img {
	display: block;
	width: 130px;
	height: 130px;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.friendslist a {
	display: block;
	width: 130px;
	height: 34px;
	text-align: center;
	color: #a19fa0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
	font-size: 12px;
	font-weight: bold;
	margin-top: 6px;
	text-decoration: none;
}

.friendslist span {
	text-decoration: none;
	cursor: default;
	display:inline;
}

.friendslist span:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* New Track View */

.search#location {
	position: relative;
}

.search#location #results {
	width: 333px;
	background: #ffffff;
	position: absolute;
	bottom: 38px;
	left: 50%;
	text-align: left;
	margin: 0 0 0 -140px;
	color: #989898;
	outline: 1px solid #656565;
	box-shadow: 0 -5px 10px rgba(0,0,0,.5);
}

.search#location #results ul {
	width: 100%;
	overflow: hidden;
	margin: 8px 0;
}


.search#location #results li {
	height: 28px;
	line-height: 28px;
	padding: 0 16px;
}

.search#location #results li:hover {
	background: -webkit-linear-gradient(top, #afdff8 0%, #97d3f6 100%);
	box-shadow: 0 1px 0 #bae4fa inset;
}

form {
	position: relative;
	text-align: center;
}

form input {
	width: 293px;
	height: 20px;
	border: 1px solid #292929;
	-webkit-border-radius: 20px;
	box-shadow: 0 2px 3px #d5d5d5 inset;
	margin: 0 0 10px 0;
	font-size: 11px;
	padding: 0 10px 0 28px;
	background: #ffffff url(../images/search_icon-large.png) no-repeat 5px 3px;
}

form input.inactive {
	color: #808080;
}

form input.active {
	color: #000000;
}

form input:focus {
	border: 1px solid #5979a2;
	box-shadow: 0 2px 3px #d5d5d5 inset, 0 1px 2px rgba(94,169,212,1), 0 -1px 2px rgba(94,169,212,1), 1px 0 2px rgba(94,169,212,1), -1px 0 2px rgba(94,169,212,1);
}

.playing {
	font-size: 11px;
	color: #a19fa0;
	text-align: center;
}

.playing span {
	color: #f6f0ad;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.playing .volume {
	width: 12px;
	height: 12px;
	display: inline-block;
	overflow: hidden;
	margin: 0 10px;
	position: relative;
	top: 2px;
}

.volume.on {
	background: transparent url(../images/sound_icons.png) no-repeat 0 0;
}

.volume.off{
	background: transparent url(../images/sound_icons.png) no-repeat 0 -12px;
}

#dropzone {
	width: 331px;
	height: 90px;
	background-color: #212121;
	-webkit-border-radius: 8px;
	border: 1px solid #101010;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
	margin: 40px auto;
}

#dropzone .cover,
.header .picture {
	width: 64px;
	height: 64px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
	background: transparent url(../images/album_cover.jpg) no-repeat left top;
	float: left;
	margin: 13px;
}
#dropzone .cover::after,
.header .picture::after {
	content: "";
	float: left;
	width: 64px;
	height: 64px;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

#dropzone .meta {
	margin-top: 25px;
}

#dropzone .track-name {
	font-size: 12px;
	color: #ffffff;
	line-height: 20px;
}

#dropzone .artist-name {
	font-size: 11px;
	color: #999997;
	line-height: 18px;
}

#dropzone.blank {
	background: -webkit-linear-gradient(top, #2a2a2a 0%, #373737 100%);
	border: 1px solid #202020;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1),0 2px 4px rgba(0,0,0,0.1) inset;
}

#dropzone.blank p {
	font-size: 12px;
	color: #9a9a9a;
	text-align: center;
}

/* Search Music view */

.search form {
	margin: 0 auto;
	padding: 0;
}

.search#location form {
	width: 435px;
}

.search#music form {
	position: relative;
	width: 333px;
	margin: 0 auto;
}

.results {
	background: #fdfdfd url(../images/searchresults_background.jpg) repeat-y left top;
	text-align: left;
	width: 100%;
	margin: 0;
	color: #989898;
	outline: 1px solid #656565;
	position: absolute;
	top: 27px;
	z-index: 1;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.results .title {
	font-size: 11px;
	padding-left: 34px;
	line-height: 24px;
	margin-top: 5px;
	overflow: hidden;
}

.results .title#tracks {
	background: transparent url(../images/searchresults_icons.png) no-repeat 6px -24px;
}

.results .title#playlists {
	background: transparent url(../images/searchresults_icons.png) no-repeat 6px top;
}

.results ul {
	overflow: hidden;
}

.results li {
	height: 28px;
	line-height: 28px;
	padding-left: 34px;
}

.results li:hover {
	background: -webkit-linear-gradient(top, #afdff8 0%, #97d3f6 100%);
	box-shadow: 0 1px 0 #bae4fa inset;
}

.results li img {
	height: 22px;
	width: 22px;
	position: relative;
	top: 3px;
	margin-right: 5px;
	float: left;
}

.results li p {
	overflow: hidden;
}

.results li span {
	color: #424242;
}

/* Search location view */


#page-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 57px;
	border-top: 1px solid #ffffff;
	padding: 8px 0;
	background: -webkit-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
}

#page-bottom form {
	width: 329px;
	margin: 0 auto;
}










/* Buttons */

.sp-icon.mp-social {
	-webkit-border-image: url(../images/light_button.png) 0 5 25 5;
	border-width: 0 5px;
	height: 25px;
	color: #3f3f3f;
	font-size: 11px;
	text-shadow: 0 1px 0 #ffffff;
	padding: 2px;
	padding-left: 20px;
	font-weight: bold;
	position: relative;
}

.sp-icon.mp-social:hover {
	-webkit-border-image: url(../images/light_button.png) 25 5 0 5;
	border-width: 0 5px;
	height: 25px;
	color: #ffffff;
	font-size: 11px;
	text-shadow: 0 1px 0 #000000;
}

.sp-icon.mp-social span {
	background-color: transparent;
	background-image: url(../images/social_icons.png);
	background-attachment: no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	padding: 0;
	display: block;
	float: left;
	position: absolute;
}

span.mp-facebook {
	background-position: 0 -16px;
}

span.mp-twitter {
	background-position: 0 0;
}

.social {
	color: #636363;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

.social .buttons {
	margin-top: 5px;
}

textarea {
	width: 329px;
	height: 73px;
	background-color: #ffffff;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	padding: 7px;
	color: #a9a9a9;
	font-size: 12px;
	box-shadow: 0 1px 0 #e5e5e5 inset;
	margin: 3px 0 7px 0;
}



nav ul li.mp-icon {
	padding: 0 5px 0 21px;
}


/*********** Section ***********/

.section {
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
	left: 0;
	padding: 70px 0 0 0; 
}

.section .content {
	width: 100%;
	height: 100%;
}

.section.music {

}

.section.location,
.section.description {
	padding: 0;
}

.section.profile {
	padding-top: 50px;
}

/*********** PAGINATION ***********/

.pagination {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.pagination .left {
	float: left;
	position: absolute;
	left: 20px;
	bottom: 24px;
}

.pagination .right {
	float: right;
	position: absolute;
	right: 20px;
	bottom: 24px;
}

.location .pagination .right {
	color: #636363;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
}

.pagination .right span {
	font-weight: bold;
}

.location .pagination .right button {
	margin-right: 5px;
}

/*********** PAGE BOTTOM ***********/

#page {
	margin-top: 50px;
}